{% extends "layout.html" %}

{% block title %}
    My Account
{% endblock %}

{% block main %}
    <h2>Open Bids</h2>
    {% for bid in current_bids %}
        <div class = "product_box">
            <a href="{{ url_for('itm_page', item_id=bid["item_id"]) }}">
                <img src="{{ url_for('static', filename='images/')}}{{bid["item_id"]}}.jpg" onerror="this.src='{{ url_for('static', filename='images/handsomedan.jpg') }}'" class=clipped>
                <h4>{{ bid["item_name"] }}</h4>
            </a>
            <div class="basic_text">
                <p>Your Last Bid: {{ bid["user_last_bid_amount"] | usd }}</p>
                <p>Current Bid: {{ bid["current_bid"] | usd }}</p>
            </div>
        </div>
    {% endfor %}
 
{% endblock %}