{% extends "layout.html" %}

{% block title %}
    Purchase History
{% endblock %}

{% block main %}
    <h2>Purchase History</h2>
    {% for item in won_items %}
        <div class = "product_box2">
            <a href="{{ url_for('itm_page', item_id=item["item_id"]) }}">
                <img src="{{ url_for('static', filename='images/')}}{{item["item_id"]}}.jpg" onerror="this.src='{{ url_for('static', filename='images/handsomedan.jpg')}}'" class=clipped>
                <h4> {{ item["item_name" ]}} </h4>
            </a>
            <a href="https://www.venmo.com/{{item["venmo"]}}">            
            <h3> Click here and pay {{ item["venmo" ]}} {{ item["charge"] | usd }} for {{ item["item_name" ]}}. <h3>
            </a>
            <p> Contact the seller at <a href="mailto:{{ item["seller_email"] }}?Subject=Hello%20{{ item["item_name"] }}%20Seller" target="_top">{{ item["seller_email"] }}</a></p>
        </div>
    {% endfor %}

{% endblock %}