{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="{{ url_for('register') }}" method="post" onsubmit="return validateRegister();">
        <p></p>
        <fieldset>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" id="frusername" type="text"/>
            </div>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="email" placeholder="Yale Email" id="fremail" type="text"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="password" placeholder="Password" id="frpassword" type="password"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="confirmation" placeholder="Password (again)" type="password"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="venmo" placeholder="Venmo Username" type="text"/>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
